<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
</head>
<body>

    <div class="register-container">
        <h2>Register</h2>
        <form action="#" method="POST">
            <input type="text" placeholder="Full Name" name="fullname" required>
            <input type="email" placeholder="Email" name="email" required>
            <input type="text" placeholder="Username" name="username" required>
            <input type="password" placeholder="Password" name="password" required>
            <input type="password" placeholder="Confirm Password" name="confirm_password" required>
            <button type="submit" class="register-btn">Register</button>
            <a href="/">
                <button type="button" class="back-btn">Back to Login</button>
            </a>
            
        </form>
    </div>

    

</body>
</html>
